.nav {
    background: lightgrey;
    margin: 20px;
}

body {
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/qbkls.png);
    background-color: #f1f1f1;
    padding: 20px;
    font-family: "Arial", "helvetica neue", helvetica, sans-serif;
}


.box {
    background-color:white;
    border:solid 3px lightblue;
    position: center;
    padding: 10px;
}

.box1 {
    background-color:white;
    border:solid 3px lightblue;
    position: center;
    padding: 20px;
    margin: 5px;
    width: 820px;

}

.box2 {
    border: 3px solid lightblue;
    background-color:  white;
    padding: 20px;
    margin: 5px;

}

.box2::after {
    display: block;
    clear: both;
    content: '';
}

.card {
    float:left;
}

.form-group {
    width:400px;
 }

 .footer {
     position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
 }

 @media screen and (max-width: 980px) {
    box, box1, box2 {width: 600px; float: left;}
}

@media screen and (max-width: 768px) {
    box, box1, box2 {width: 700px; float:left;}
}

@media screen and (max-width: 640px) {
    box, box1, box2 {width: 300px; float: left;}
}